
body{
    background-color:rgb(212, 120, 240);
}
.caja{
    width:80px;
    height:40px;
    color:rgb(138, 120, 240);
    background-color: rgb(81, 235, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
}

h1{
    font-style: italic;
    font-size: 30px;
    color:rgb(23, 40, 117);
}